<f:layout name="Default" />

<f:section name="Title"><f:translate id="personalliststatus" /></f:section>

<f:section name="Content">
	<div class="large-8 columns">
		<div class="row">
			<section ng-controller="personallistenstatusController">
				<table class="large-12 columns display" datatable="ng" id="entityList">
					<thead>
						<tr>
							<td>Status</td>
						</tr>
					</thead>
					<tbody>
						<tr class="data" dt-rows="" ng-repeat="status in personallistenstatus">
							<td><input type="text" ng-model="status.name" /></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</f:section>