<f:layout name="Default" />

<f:section name="Title"><f:translate id="personalliststatus" /></f:section>

<f:section name="Content">
	<section ng-controller="listController" id="personallistenstatus">
		<form ng-submit="update()">
			<table class="large-12 columns display" dt-options="dtOptions" datatable="ng">
				<thead>
					<tr>
						<th></th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr class="data" dt-rows="" ng-repeat="status in entities">
						<td><input type="checkbox" ng-model="status.selected"></td>
						<td><input type="text" ng-model="status.name" /></td>
					</tr>
				</tbody>
			</table>
			<div id="message" ng-show="message" ng-bind="message"></div>
			<input type="submit" value="Änderungen speichern">
		</form>
	</section>
</f:section>
