<f:layout name="Default" />

<f:section name="Title">A list of orts</f:section>

<f:section name="Content">
	<f:if condition="{orts}">
		<f:then>
			<ul>
				<f:for each="{orts}" as="ort">
					<li>
						<f:link.action action="show" arguments="{ort: ort}">{ort.name}</f:link.action>
						<f:link.action action="edit" arguments="{ort: ort}">Edit</f:link.action>
						<f:form action="delete" arguments="{ort: ort}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No orts created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new ort</f:link.action></p>
</f:section>