<f:layout name="Default" />

<f:section name="Title"><f:translate id="orte" /></f:section>

<!-- TODO: We most likely cannot load 40k+ Orte at once -->
<f:section name="Content">
	<section ng-controller="listController" id="ort">
		<form ng-submit="update()">
			<table class="large-12 columns display" datatable="" dt-options="dtOptions" dt-columns="dtColumns">
				<thead>
					<tr>
						<th class="not-sortable" data-input="input type='checkbox'" data-name="uUID"></th>
						<th data-input="textarea" data-name="ort">Ort</th>
						<th data-input="textarea" data-name="gemeinde">Gemeinde</th>
						<th data-input="textarea" data-name="kreis">Kreis</th>
						<th data-input="input type='checkbox'" data-name="wuestung">Wüstung</th>
						<th data-input="textarea" data-name="laenge">Längengrad</th>
						<th data-input="textarea" data-name="breite">Breitengrad</th>
					</tr>
				</thead>
			</table>
			<div id="message" ng-show="message" ng-bind="message"></div>
			<input type="hidden" id="__csrfToken" value="{f:security.csrfToken()}">
			<input type="submit" value="Änderungen speichern">
			<button class="new" ng-click="new($event)">Neuen Ort anlegen</button>
		</form>
	</section>
</f:section>
