<f:layout name="Default" />

<f:section name="Title">New ort</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new ort:</p>

	<f:form action="create" objectName="newOrt">
		<ol>
			<li>
				<label for="uid">Ort</label>
				<f:form.textfield property="uid" id="uid" />
			</li>
		
			<li>
				<label for="ort">Ort</label>
				<f:form.textfield property="ort" id="ort" />
			</li>
		
			<li>
				<label for="gemeinde">Ort</label>
				<f:form.textfield property="gemeinde" id="gemeinde" />
			</li>
		
			<li>
				<label for="kreis">Ort</label>
				<f:form.textfield property="kreis" id="kreis" />
			</li>
		
			<li>
				<label for="wuestung">Ort</label>
				<f:form.textfield property="wuestung" id="wuestung" />
			</li>
		
			<li>
				<label for="breite">Ort</label>
				<f:form.textfield property="breite" id="breite" />
			</li>
		
			<li>
				<label for="laenge">Ort</label>
				<f:form.textfield property="laenge" id="laenge" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>