<f:layout name="Default" />

<f:section name="Title">Show ort"{ort.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Uid</th>
			<td>{ort.uid}</td>
		</tr>
	
		<tr>
			<th>Ort</th>
			<td>{ort.ort}</td>
		</tr>
	
		<tr>
			<th>Gemeinde</th>
			<td>{ort.gemeinde}</td>
		</tr>
	
		<tr>
			<th>Kreis</th>
			<td>{ort.kreis}</td>
		</tr>
	
		<tr>
			<th>Wuestung</th>
			<td>{ort.wuestung}</td>
		</tr>
	
		<tr>
			<th>Breite</th>
			<td>{ort.breite}</td>
		</tr>
	
		<tr>
			<th>Laenge</th>
			<td>{ort.laenge}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>