.autocomplete {
	float: right;
	position: relative;
	width: 70%;
	#select & {
		width: 100%;
	}
	input {
		width: 100%;
		&:active, &:focus, &:hover {
			+ button {
				@include background(linear-gradient(left, rgba($input-focus-bg-color, 0) 0%, rgba($input-focus-bg-color, 1) 60%));
			}
		}
	}
	button {
		@include background(linear-gradient(left, rgba($input-bg-color, 0) 0%, rgba($input-bg-color, 1) 60%));
		border: none;
		@include box-shadow(none);
		color: $input-font-color;
		cursor: pointer;
		margin: 0;
		padding: 0;
		position: absolute;
		right: .5em;
		text-align: right;
		top: 10%;
		height: 80%;
		&:active, &:focus, &:hover {
			color: $primary-color;
			background: none;
		}
		#select & {
			@include background(linear-gradient(left, rgba(lighten($primary-color, 5), 0) 0%, rgba(lighten($primary-color, 5), 1) 60%));
			color: white;
			line-height: rem-calc(20);
			top: 0;
			width: rem-calc(25);
			height: rem-calc(20);
		}
	}
	ol {
		background: #fff;
		border: 1px solid $input-border-color;
		display: none;
		font-size: inherit;
		list-style: none;
		margin: 0;
		max-height: rem-calc(300);
		overflow-y: auto;
		position: absolute;
		text-align: left;
		width: 100%;
		z-index: 999;
	}
	li {
		cursor: pointer;
		margin: 0;
		overflow: hidden;
		padding: rem-calc(5);
		white-space: nowrap;
		&.current {
			background: $primary-color;
			color: white;
		}
		&:hover, &:focus, &:active {
			background: rgba(white, .2);
		}
	}
	.spinner-icon {
		position: absolute;
		right: rem-calc(28);
		top: rem-calc(12);
	}
}
