body {
	background: lighten(#ddd8c3, 5);
	overflow-y: scroll;
	> section {
		padding: 1rem;
	}
}

button {
	min-width: 4rem;
	padding: 0.6rem;
}

textarea {
	min-height: 0;
	resize: none;
}

fieldset {
	border: 0;
	border-top: 1px solid;
	margin-bottom: 0;
	legend {
		background: none;
	}
}

h1 + button {
	float: right;
	margin-top: -3.5em;
}

label {
	line-height: 2.33333em;
	&.columns {
		padding: 0;
		text-indent: 1rem;
	}
}

table {
	background: none;
	border: none;
	border-collapse: collapse;
	tr {
		border-bottom: 1px solid;
		margin-bottom: -1px;
		&:nth-of-type(2n) {
			background: none;
		}
	}
	td {
		vertical-align: top;
	}
	button,
	select,
	textarea {
		margin: 0;
	}
}

td {
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea {
		background: none;
		border: 0;
		box-shadow: none;
		float: none;
		margin: -8px -10px;
	}
}

input,
select,
textarea {
	float: right;
	label.none & {
		width: 100% !important;
	}
	@for $i from 3 through 12 {
		#edit .large-#{$i} > & {
			width: percentage(($i - 2) / $i);
		}
	}
}

input[type=submit],
button {
	&:not([disabled]) {
		&:active, &:focus, &:hover {
			@include background(linear-gradient(top, darken(#c90230, 10) 0%, darken(#ac001e, 10) 95%, darken(#a20019, 10) 100%));
		}
	}
}

input[name="kloster_nr[]"] {
	max-width: 5rem;
}

input[type=submit],
button,
.top-bar, {
	@include background(linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%));
}

.top-bar-section a {
	@include background(linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important);
}

.clear,
.multiple {
	clear: both;
}

#content {
	padding: rem-calc(15)
}

#browse {
	@include clearfix
}

#edit {
	clear: both;
}