body {
	background: $background-color;
	overflow-y: scroll;
	> section {
		padding: 1rem;
	}
}

button {
	min-width: 2.5rem;
	padding: rem-calc(9);
}

form {
	span {
		font-size: $form-label-font-size;
		padding: $microformat-padding;
	}
}

textarea {
	min-height: 0;
	resize: none;
}

fieldset {
	border: 0;
	border-top: 1px solid;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	&.highlight {
		background: rgba(#000, .1);
		border: 0;
		box-shadow: 0 1px 6px rgba(#000, .2) inset;
		margin: $fieldset-padding (-$fieldset-padding);
		padding: $fieldset-padding $fieldset-padding $fieldset-padding/2;
		border-radius: $global-radius;
	}
	legend {
		background: none;
	}
	.add-remove-buttons {
		float: right
	}
}

label {
	line-height: 2.33333em;
	&.columns {
		padding: 0;
		text-align: right;
	}
}

table {
	background: none;
	border: none;
	border-collapse: collapse;
	tr {
		border-bottom: 1px solid;
		margin-bottom: -1px;
		&:nth-of-type(2n) {
			background: none;
		}
	}
	td {
		vertical-align: top;
	}
	select,
	textarea {
		margin: 0;
	}
}

button {
	margin: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="checkbox"],
input[type="radio"],
select,
textarea {
	margin-bottom: .5em;
	td & {
		background: none;
		border: 0;
		box-shadow: none;
		float: none;
		margin: -8px -10px;
	}
}

button {
	margin-bottom: .5em;
	td & {
		margin: 0;
	}
}

input[type="checkbox"] {
	height: $form-label-font-size * 2;
	margin-left: .5rem;
}

input[type="submit"] {
	@extend button;
	min-width: 5rem;
}

input,
select,
textarea,
div.autocomplete {
	float: right;
	label.none & {
		width: 100% !important;
	}
	.large-2 > & {
		margin-left: 1em;
		width: 50%;
	}
	@for $i from 3 through $total-columns {
		.large-#{$i} > & {
			margin-left: 1em;
			width: percentage(($i - 2) / $i);
		}
	}
}

input.year {
	background: lighten($info-color, 15);
	&:focus {
		background: lighten( $info-color, 20);
	}
}

td.dirty {
	background: lighten($warning-color, 30);
}

th div {
	padding-right: 1em;
}

input[type=submit],
button {
	&:not([disabled]) {
		&:active, &:focus, &:hover {
			@include background(linear-gradient(top, darken(#c90230, 10) 0%, darken(#ac001e, 10) 95%, darken(#a20019, 10) 100%));
		}
	}
}

input[name="kloster_nr[]"] {
	max-width: 5rem;
}

input[type=submit],
button,
.top-bar, {
	@include background(linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%));
}

.top-bar-section a {
	@include background(linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important);
}

.bold {
	&,
	input,
	select,
	textarea {
		font-weight: bold;
	}
}

.clear,
.multiple {
	clear: both;
}

.multiple.separator + .multiple {
	border-top: 1px dotted;
	padding-top: $fieldset-padding;
}

.no-wrap {
	white-space: nowrap;
}

.show-only-on-hover * {
	opacity: 0;
	transition: opacity .5s;
	tr:hover & {
		opacity: 1;
	}
}

#content {
	padding: rem-calc(20);
}

#advancedSearch,
#browse {
	@include clearfix;
}
