<f:layout name="Default"/>

<f:section name="Title">
	<div class="row">
		<f:translate id="bistuemer"/>
	</div>
</f:section>

<f:section name="Content">
	<section ng-controller="bistumController">
		<table class="large-12 columns display" datatable="ng" id="entityList" dt-options="dtOptions">
			<thead>
				<tr>
					<th></th>
					<th>Bistum</th>
					<th>Bemerkung</th>
					<th>Erzbistum</th>
					<th>Kirchenprovinz</th>
					<th>Shapefile</th>
				</tr>
			</thead>
			<tbody>
				<tr class="data" dt-rows="" ng-repeat="bistum in bistums">
					<td><input type="checkbox" /></td>
					<td><input type="text" ng-model="bistum.bistum" /></td>
					<td><textarea ng-model="bistum.bemerkung">{{bistum.bemerkung}}</textarea></td>
					<td><input ng-model="bistum.ist_erzbistum" type="checkbox" ng-checked="bistum.ist_erzbistum" /></td>
					<td><input type="text" ng-model="bistum.kirchenprovinz" /></td>
					<td><input type="text" ng-model="bistum.shapefile" /></td>
				</tr>
			</tbody>
		</table>
	</section>
</f:section>