<f:layout name="Default"/>

<f:section name="Title"><f:translate id="bistuemer"/></f:section>

<f:section name="Content">
	<section ng-controller="listController" id="bistum">
		<form ng-submit="update()">
			<table class="large-12 columns display" datatable="ng" dt-options="dtOptions">
				<thead>
					<tr>
						<th></th>
						<th>Bistum</th>
						<th>Bemerkung</th>
						<th>Erzbistum</th>
						<th>Kirchenprovinz</th>
						<th>Shapefile</th>
					</tr>
				</thead>
				<tbody>
					<tr class="data" dt-rows="" ng-repeat="bistum in entities">
						<td><input type="checkbox" class="marker"></td>
						<td><input type="text" ng-model="bistum.bistum"></td>
						<td><textarea ng-model="bistum.bemerkung"></textarea></td>
						<td><input ng-model="bistum.ist_erzbistum" type="checkbox" ng-checked="bistum.ist_erzbistum"></td>
						<td><input type="text" ng-model="bistum.kirchenprovinz"></td>
						<td><input type="text" ng-model="bistum.shapefile"></td>
					</tr>
				</tbody>
			</table>
			<div id="message" ng-show="message" ng-bind="message"></div>
			<input type="submit" value="Änderungen speichern">
		</form>
	</section>
</f:section>