<f:layout name="Default" />

<f:section name="Title">Edit klosterstandort "{klosterstandort.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{klosterstandort}" objectName="klosterstandort">
		<ol>
			<li>
				<label for="kloster">Kloster</label>
				<f:form.textfield property="kloster" id="kloster" />
			</li>
		
			<li>
				<label for="ort">Ort</label>
				<f:form.textfield property="ort" id="ort" />
			</li>
		
			<li>
				<label for="gruender">Gruender</label>
				<f:form.textfield property="gruender" id="gruender" />
			</li>
		
			<li>
				<label for="bemerkung">Bemerkung</label>
				<f:form.textfield property="bemerkung" id="bemerkung" />
			</li>
		
			<li>
				<label for="bereite">Bereite</label>
				<f:form.textfield property="bereite" id="bereite" />
			</li>
		
			<li>
				<label for="laenge">Laenge</label>
				<f:form.textfield property="laenge" id="laenge" />
			</li>
		
			<li>
				<label for="bemerkung_standort">Bemerkung_standort</label>
				<f:form.textfield property="bemerkung_standort" id="bemerkung_standort" />
			</li>
		
			<li>
				<label for="temp_literatur_alt">Temp_literatur_alt</label>
				<f:form.textfield property="temp_literatur_alt" id="temp_literatur_alt" />
			</li>
		
			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>