<f:layout name="Default" />

<f:section name="Title">New klosterstandort</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new klosterstandort:</p>

	<f:form action="create" objectName="newKlosterstandort">
		<ol>
			<li>
				<label for="kloster">Kloster</label>
				<f:form.select property="kloster" options="{klosters}" />
				<!--<f:form.textfield property="kloster" id="kloster" />-->
			</li>
		
			<li>
				<label for="ort">Ort</label>
				<f:form.select property="ort" options="{orts}"  />
				<!--<f:form.textfield property="ort" id="ort" />-->
			</li>
		
			<li>
				<label for="gruender">Klosterstandort</label>
				<f:form.textfield property="gruender" id="gruender" />
			</li>
		
			<li>
				<label for="bemerkung">Klosterstandort</label>
				<f:form.textfield property="bemerkung" id="bemerkung" />
			</li>
		
			<li>
				<label for="bereite">Klosterstandort</label>
				<f:form.textfield property="bereite" id="bereite" />
			</li>
		
			<li>
				<label for="laenge">Klosterstandort</label>
				<f:form.textfield property="laenge" id="laenge" />
			</li>
		
			<li>
				<label for="bemerkung_standort">Klosterstandort</label>
				<f:form.textfield property="bemerkung_standort" id="bemerkung_standort" />
			</li>
		
			<li>
				<label for="temp_literatur_alt">Klosterstandort</label>
				<f:form.textfield property="temp_literatur_alt" id="temp_literatur_alt" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>