<f:layout name="Default" />

<f:section name="Title">Show klosterstandort"{klosterstandort.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Kloster</th>
			<td>{klosterstandort.kloster}</td>
		</tr>
	
		<tr>
			<th>Ort</th>
			<td>{klosterstandort.ort}</td>
		</tr>
	
		<tr>
			<th>Gruender</th>
			<td>{klosterstandort.gruender}</td>
		</tr>
	
		<tr>
			<th>Bemerkung</th>
			<td>{klosterstandort.bemerkung}</td>
		</tr>
	
		<tr>
			<th>Bereite</th>
			<td>{klosterstandort.bereite}</td>
		</tr>
	
		<tr>
			<th>Laenge</th>
			<td>{klosterstandort.laenge}</td>
		</tr>
	
		<tr>
			<th>Bemerkung_standort</th>
			<td>{klosterstandort.bemerkung_standort}</td>
		</tr>
	
		<tr>
			<th>Temp_literatur_alt</th>
			<td>{klosterstandort.temp_literatur_alt}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>