<f:layout name="Default" />

<f:section name="Title"><f:translate id="orden" /></f:section>

<f:section name="Content">
	<div class="large-8 columns">
		<div class="row">
			<section ng-controller="ordenController">
				<table class="large-12 columns display" datatable="ng" id="entityList">
					<thead>
						<tr>
							<td>Orden</td>
							<td>Graphik</td>
							<td>Ordo</td>
							<td>Symbol</td>
						</tr>
					</thead>
					<tbody>
						<tr class="data" dt-rows="" ng-repeat="orden in ordens">
							<td><input type="text" ng-model="orden.orden" /></td>
							<td><input type="text" ng-model="orden.graphik" /></td>
							<td><input type="text" ng-model="orden.ordo" /></td>
							<td><input type="text" ng-model="orden.symbol" /></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</f:section>