body {
	overflow-y: scroll;
	> section {
		padding: 1rem;
	}
}

h2 {
	margin: 0;
	padding-bottom: .5em;
}

pre {
	background: white;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
}

footer {
	@include radius(0 $input-border-radius 0 0);
	background: #fff;
	border-top: $table-border-size $table-border-style $table-border-color;
	border-right: $table-border-size $table-border-style $table-border-color;
	left: 0;
	bottom: 0;
	font-size: $form-label-font-size;
	padding: $microformat-padding;
	position: fixed;
}

#content {
	@include clearfix;
	padding: rem-calc(20) rem-calc(20) rem-calc(40);
}

#browse {
	@include clearfix;
}

#message {
	@extend .clearfix;
	background: #fff;
	border-bottom: $table-border-size $table-border-style $table-border-color;
	padding: $tooltip-padding;
	width: 100%;
	.spinner-icon {
		display: inline-block;
		margin-bottom: -2px;
	}
	.timestamp {
		background: $table-head-bg;
		float: left;
		color: $form-label-font-color;
		margin: -$tooltip-padding $tooltip-padding -$tooltip-padding -$tooltip-padding;
		padding: $tooltip-padding;
		white-space: nowrap;
	}
	.text {
		float: left;
		font-weight: bold;
		margin: -$tooltip-padding $tooltip-padding;
		padding: $tooltip-padding;
	}
}

.columns {
	padding-right: 0 !important;
}