.bold {
	&,
	input,
	select,
	textarea {
		font-weight: bold;
	}
}

.clear {
	clear: both;
}

body .dirty {
	background: lighten($warning-color, 30);
}

.hover {
	cursor: pointer;
	&:hover {
		color: $primary-color;
	}
}

.narrow {
	width: 9em;
}

.no-wrap {
	text-align: right;
	white-space: nowrap;
}

.show-only-on-hover * {
	opacity: .2;
	transition: opacity .5s;
	tr:hover & {
		opacity: 1;
	}
}

.wide {
	width: 50%;
}
