<f:layout name="Default" />

<f:section name="Title"><f:translate id="bearbeitungsstatus" /></f:section>

<f:section name="Content">
	<section ng-controller="bearbeitungsstatusController">
		<table class="large-12 columns display" dt-options="dtOptions" datatable="ng" id="entityList">
			<thead>
				<tr>
					<th></th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="data" dt-rows="" ng-repeat="status in bearbeitungsstatus">
					<td><input type="checkbox" /></td>
					<td><input type="text" ng-model="status.name" /></td>
				</tr>
			</tbody>
		</table>
	</section>
</f:section>