<f:layout name="Default" />

<f:section name="Title">New bearbeitungsstatus</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new bearbeitungsstatus:</p>

	<f:form action="create" objectName="newBearbeitungsstatus">
		<ol>
			<!--<li>
				<label for="uid">Bearbeitungsstatus</label>
				<f:form.textfield property="uid" id="uid" />
			</li>-->
		
			<!--<li>
				<label for="klosters">Bearbeitungsstatus</label>
				<f:form.textfield property="klosters" id="klosters" />
			</li>-->
		
			<li>
				<label for="name">Name</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>