{namespace m=Subugoe\GermaniaSacra\ViewHelpers}

<!DOCTYPE html>
<html>
	<head>
		<title>
			<f:translate id="app.title" />
		</title>
		<f:base />
		<meta charset="utf-8">
		<link href="../../../Public/CSS/foundation.min.css" rel="stylesheet">
		<link href="../../../Public/CSS/style.css" rel="stylesheet">
		<link href="../../../Public/CSS/new.css" rel="stylesheet">
		<link href="../../../Public/CSS/confirm.css" rel="stylesheet">

	</head>
	<body>
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<h1>
						<a href="#">Germania Sacra Klosterdatenbank</a>
					</h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#">Navigation</a>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="left">
					<li>
						<a href="#">Orden</a>
					</li>
					<li>
						<a href="#">Orte</a>
					</li>
					<li>
						<a href="#">GS-Bände</a>
					</li>
					<li>
						<a href="#">Bistümer</a>
					</li>
					<li>
						<a href="#">Kirchenprovinz</a>
					</li>
					<li>
						<a href="#">Datensatzstatus</a>
					</li>
					<li>
						<a href="#">Ämterstatus</a>
					</li>
				</ul>
			</section>
		</nav>
		<section role="main">
			<form>
				<fieldset>
					<label class="large-1 column">Kloster-Nr. <input name="kloster_nr" type="text"></label>
					<label class="large-2 column">Status <input name="status" type="text"></label>
					<label class="large-2 column">Klostername <input name="kloster" type="text"></label>
					<label class="large-2 column">Ort <input name="ort" type="text"></label>
					<label class="large-2 column">Suche über alle Felder <input name="alle" type="text"></label>
					<div class="large-3 columns text-right margin-top"><button class="toggle" data-text="ausblenden">Erweiterte Suche einblenden</button></div>
				</fieldset>
				<fieldset class="togglable">
					<legend>Erweiterte Suche</legend>
					<div class="multiple">
						<label class="large-2 column">
							<select name="filter">
								<option value="band.nummer">band.nummer</option>
								<option value="bearbeitungsstatus.name">bearbeitungsstatus.name</option>
								<option value="bistum.bistum">bistum.bistum</option>
								<option value="bundesland.bundesland">bundesland.bundesland</option>
								<option value="kloster.kloster_id">kloster.kloster_id</option>
								<option value="kloster.kloster">kloster.kloster</option>
								<option value="kloster.patrozinium">kloster.patrozinium</option>
								<option value="klosterstatus.status">klosterstatus.status</option>
								<option value="kloster.breite">kloster.breite</option>
								<option value="kloster.laenge">kloster.laenge</option>
								<option value="land.land">land.land</option>
								<option value="orden.orden">orden.orden</option>
								<option value="ort.ort">ort.ort</option>
								<option value="personallistenstatus.name">personallistenstatus.name</option>
								<option value="url.url">url.url</option>
								<option value="zeitraum.von_von">zeitraum.von_von</option>
								<option value="zeitraum.bis_bis">zeitraum.bis_bis</option>
							</select>
						</label>
						<label class="large-2 column">
							<select name="operator">
								<option value="ist gleich">ist gleich</option>
								<option value="ist gleich (inkl. Schreibweise)">ist gleich (inkl. Schreibweise)</option>
								<option value="ist nicht">ist nicht</option>
								<option value="enthält">enthält</option>
								<option value="enthält nicht">enthält nicht</option>
								<option value="beginnt mit">beginnt mit</option>
								<option value="endet mit">endet mit</option>
								<option value="ist kleiner als">ist kleiner als</option>
								<option value="ist größer als">ist größer als</option>
								<option value="entspricht regex">entspricht regex</option>
								<option value="entspricht nicht regex">entspricht nicht regex</option>
								<option value="fehlt">fehlt</option>
							</select>
						</label>
						<label class="large-4 column"><input name="value" type="text"></label>
						<label class="large-2 column">
							<select name="concat">
								<option value="und">und</option>
								<option value="oder">oder</option>
								<option value="und nicht">und nicht</option>
							</select>
						</label>
					</div>
				</fieldset>
			</form>

			<m:Paginate objects="{klosters}" as="paginatedKloster" configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 20}">
				<f:for each="{paginatedKloster}" as="kloster">
				</f:for>
			</m:Paginate>

			<f:flashMessages class="flashmessages" />

			<h1><f:render section="Title" /></h1>
		
			<f:render section="Content" />

			</div>
				</section>

		<div id='container'>
			<div id='content'>
				<!-- modal content -->
				<div id='confirm'>
					<div class='header'><span>Bestätigung</span></div>
					<div class='message'></div>
				</div>
				<!-- preload the images -->
				<div style='display:none'>
					<img src="{f:uri.resource(path: 'Images/button.gif')}" alt='' />
					<img src="{f:uri.resource(path: 'Images/header.gif')}" alt='' />
				</div>
			</div>
		</div>

		<script>var temp_page = {page};</script>

		<script src="{f:uri.resource(path: 'JavaScript/jquery.min.js')}" type="text/javascript"></script>
		<script src="{f:uri.resource(path: 'JavaScript/jquery.autosize.min.js')}" type="text/javascript"></script>
		<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.js')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.topbar.js')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/gs-editor.js')}" type="text/javascript"></script>
		<script src="{f:uri.resource(path: 'JavaScript/populate.js')}" type="text/javascript"></script>
		<script src="{f:uri.resource(path: 'JavaScript/jquery.simplemodal-1.4.4.js')}" type="text/javascript"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>