<f:layout name="Default" />

<f:section name="Title">Edit band "{band.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{band}" objectName="band">
		<ol>
			<li>
				<label for="uid">Uid</label>
				<f:form.textfield property="uid" id="uid" />
			</li>
		
			<li>
				<label for="klosters">Klosters</label>
				<f:form.textfield property="klosters" id="klosters" />
			</li>
		
			<li>
				<label for="nummer">Nummer</label>
				<f:form.textfield property="nummer" id="nummer" />
			</li>
		
			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>