<f:layout name="Default" />

<f:section name="Title"><f:translate id="baende" /></f:section>

<f:section name="Content">
	<div class="large-8 columns">
		<div class="row">
			<section ng-controller="bandController">
				<table class="large-12 columns display" datatable="ng" id="entityList">
					<thead>
						<tr>
							<td>Nummer</td>
							<td>Titel</td>
							<td>Kurztitel</td>
							<td>Sortierung</td>
						</tr>
					</thead>
					<tbody>
						<tr class="data" dt-rows="" ng-repeat="band in baende">
							<td><input type="text" ng-model="band.nummer" /></td>
							<td><input type="text" ng-model="band.titel" /></td>
							<td><input type="text" ng-model="band.kurztitel" /></td>
							<td><input type="number" ng-model="band.sortierung" /></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</f:section>