<f:layout name="Default" />

<f:section name="Title">New band</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new band:</p>

	<f:form action="create" objectName="newBand">
		<ol>
			<li>
				<label for="uid">Band</label>
				<f:form.textfield property="uid" id="uid" />
			</li>
		
			<li>
				<label for="klosters">Band</label>
				<f:form.textfield property="klosters" id="klosters" />
			</li>
		
			<li>
				<label for="nummer">Band</label>
				<f:form.textfield property="nummer" id="nummer" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>