<f:layout name="Default" />

<f:section name="Title">A list of klosters</f:section>

<f:section name="Content">





	<f:if condition="{klosters}">
		<f:then>
			<ul>
				<f:for each="{klosters}" as="kloster">
				
				
				<!--<f:debug>{kloster}</f:debug>-->
				
				
					<li>
						<f:link.action action="show" arguments="{kloster: kloster}">{kloster.kloster}</f:link.action>
						<f:link.action action="edit" arguments="{kloster: kloster}">Edit</f:link.action>
						<f:form action="delete" arguments="{kloster: kloster}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No klosters created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new kloster</f:link.action></p>

	<script>	
	$( "#befundinbox" ).submit(function(event) {
		// Stop form from submitting normally
		event.preventDefault();
		var $form = $(this);
		url = $form.attr("action");
		$.post(url, $("#befundinbox").serialize())
			.done(function(respond) {
				if (respond && respond == 1) {
					$(".befundinbox-send-ok").show();
				}
				else {
					$(".befundinbox-send-error").show();
				}
				$("#befundinbox_msg").val('');
			});
	});
	</script>	
</f:section>