<f:layout name="Default" />

<f:section name="Title"></f:section>

<f:section name="Content">
	<section ng-controller="listController" id="urltyp">
		<form ng-submit="update()">
			<table class="large-12 columns display" datatable="" dt-options="dtOptions" dt-columns="dtColumns">
				<thead>
					<tr>
						<th data-input="input type='checkbox'" data-name="uUID" class="not-sortable"></th>
						<th data-input="textarea" data-name="name">UR-Typ</th>
					</tr>
				</thead>
			</table>
			<div id="message" ng-show="message" ng-bind="message"></div>
			<input type="hidden" id="__csrfToken" value="{f:security.csrfToken()}">
			<input type="submit" value="Änderungen speichern">
			<button class="new" ng-click="new($event)">Neuen URL-Typ hinzufügen</button>
		</form>
	</section>
</f:section>
