#new .large-1 > input, #new .large-1 >
select, #new .large-1 >
textarea {
  margin-right: -20%;
  width: 140% !important;
}
#new .large-3 > input, #new .large-3 >
select, #new .large-3 >
textarea {
  width: 35%;
}
#new .large-4 > input, #new .large-4 >
select, #new .large-4 >
textarea {
  width: 53%;
}
#new .large-5 > input, #new .large-5 >
select, #new .large-5 >
textarea {
  width: 63%;
}
#new .large-6 > input, #new .large-6 >
select, #new .large-6 >
textarea {
  width: 69%;
}
#new .large-8 > input, #new .large-8 >
select, #new .large-8 >
textarea {
  width: 77.5%;
}
#new .large-9 > input, #new .large-9 >
select, #new .large-9 >
textarea {
  width: 80%;
}
#new .large-10 > input, #new .large-10 >
select, #new .large-10 >
textarea {
  width: 80%;
}
#new .large-12 > input, #new .large-12 >
select, #new .large-12 >
textarea {
  width: 85%;
}

input[type=submit]:not([disabled]):active, input[type=submit]:not([disabled]):focus, input[type=submit]:not([disabled]):hover,
button:not([disabled]):active,
button:not([disabled]):focus,
button:not([disabled]):hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #970124), color-stop(95%, #790015), color-stop(100%, #6f0011));
  background: -webkit-linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
  background: -moz-linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
  background: -o-linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
  background: linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
}

input[name="kloster_nr[]"] {
  max-width: 5rem;
}

input[type=submit],
button,
.top-bar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019));
  background: -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
  background: -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
  background: -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
  background: linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
}

.top-bar-section a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019)) !important;
  background: -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
  background: -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
  background: -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
  background: linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
}

.clear,
.multiple {
  clear: both;
}

#new {
  clear: both;
}

.new {
  float: left;
  margin-left: 1000px;
}
