body {
  background: #e6e3d3;
  overflow-y: scroll;
}
body > section {
  padding: 1rem;
}

button {
  min-width: 4rem;
  padding: 0.6rem;
}

textarea {
  min-height: 0;
  resize: none;
}

fieldset {
  border: 0;
  border-top: 1px solid;
  margin-bottom: 0;
}
fieldset legend {
  background: none;
}

h1 + button {
  float: right;
  margin-top: -3.5em;
}

label {
  line-height: 2.33333em;
}
label + span {
  padding-top: 0.66667em;
}

table {
  background: none;
  border: none;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid;
  margin-bottom: -1px;
}
table tr:nth-of-type(2n) {
  background: none;
}
table td {
  vertical-align: top;
}
table button,
table select,
table textarea {
  margin: 0;
}

input,
select,
textarea {
  float: right;
}
label.none input, label.none
select, label.none
textarea {
  width: 100%;
}
#edit .large-1 > input, #edit .large-1 >
select, #edit .large-1 >
textarea {
  margin-right: -20%;
  width: 140% !important;
}
#edit .large-3 > input, #edit .large-3 >
select, #edit .large-3 >
textarea {
  width: 35%;
}
#edit .large-4 > input, #edit .large-4 >
select, #edit .large-4 >
textarea {
  width: 53%;
}
#edit .large-5 > input, #edit .large-5 >
select, #edit .large-5 >
textarea {
  width: 63%;
}
#edit .large-6 > input, #edit .large-6 >
select, #edit .large-6 >
textarea {
  width: 69%;
}
#edit .large-8 > input, #edit .large-8 >
select, #edit .large-8 >
textarea {
  width: 77.5%;
}
#edit .large-9 > input, #edit .large-9 >
select, #edit .large-9 >
textarea {
  width: 80%;
}
#edit .large-10 > input, #edit .large-10 >
select, #edit .large-10 >
textarea {
  width: 80%;
}
#edit .large-12 > input, #edit .large-12 >
select, #edit .large-12 >
textarea {
  width: 85%;
}

#edit .large-13 > input, #edit .large-13 >
select, #edit .large-13 >
textarea {
  width: 85%;
  height: 200px;
}

input[type=submit]:not([disabled]):active, input[type=submit]:not([disabled]):focus, input[type=submit]:not([disabled]):hover,
button:not([disabled]):active,
button:not([disabled]):focus,
button:not([disabled]):hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #970124), color-stop(95%, #790015), color-stop(100%, #6f0011));
  background: -webkit-linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
  background: -moz-linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
  background: -o-linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
  background: linear-gradient(top, #970124 0%, #790015 95%, #6f0011 100%);
}

input[name="kloster_nr[]"] {
  max-width: 5rem;
}

input[type=submit],
button,
.top-bar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019));
  background: -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
  background: -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
  background: -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
  background: linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%);
}

.top-bar-section a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c90230), color-stop(95%, #ac001e), color-stop(100%, #a20019)) !important;
  background: -webkit-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
  background: -moz-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
  background: -o-linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
  background: linear-gradient(top, #c90230 0%, #ac001e 95%, #a20019 100%) !important;
}

.clear,
.multiple {
  clear: both;
}

#edit {
  clear: both;
}
