<section id="list" data-type="band">
	<h2>Bände</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="checkbox" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="nummer" class="narrow">Nummer</th>
					<th data-input="textarea" data-name="titel" class="wide">Kurztitel</th>
					<th data-input="textarea" data-name="kurztitel">Facette Kurztitel</th>
					<th data-input="textarea" data-name="sortierung" class="narrow order-by">Sortierung</th>
					<th data-input="select" data-name="bistum">Bistum</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<button class="new"><i class="icon-plus2"></i> Neuen Band hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="band">
	<button class="close"><i class="icon-back"></i> Zurück zur Bandliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-4 columns">Nummer <textarea name="nummer" required></textarea></label>
		<label class="large-8 columns">Kurztitel <textarea name="titel" required></textarea></label>
		<label class="large-4 columns">Facette Kurztitel <textarea name="kurztitel" required></textarea></label>
		<label class="large-4 columns">Sortierung <textarea name="sortierung" required></textarea></label>
		<label class="large-4 columns">Bistum <select name="bistum"></select></label>
		<fieldset id="links">
			<legend>Links</legend>
			<div class="clearfix">
				<label class="large-6 columns">Wikipedia
					<input name="wikipedia" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="wikipedia_label" type="text">
				</label>
			</div>
			<div class="clearfix">
				<label class="large-6 columns">GND
					<input name="gnd" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="gnd_label" type="text">
				</label>
			</div>
			<div class="multiple">
				<label class="large-2 columns none">
					<select name="url_typ[]"></select>
				</label>
				<label class="large-4 columns none">
					<input name="url[]" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="links_label[]" type="text">
				</label>
			</div>
		</fieldset>
	</form>
</section>