<section id="list" data-type="bearbeitungsstatus">
	<h2>Bearbeitungsstatus</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="checkbox" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="name">Status</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<button class="new"><i class="icon-plus2"></i> Neuen Bearbeitungsstatus hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="bearbeitungsstatus">
	<button class="close"><i class="icon-back"></i> Zurück zur Bearbeitungsstatusliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-12 columns">Status <textarea name="name" required></textarea></label>
	</form>
</section>
