<h1>Bearbeitungsstatus</h1>

<section id="list" data-type="bearbeitungsstatus">
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="input type='checkbox'" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="name">Status</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<input type="submit" value="Änderungen speichern">
		<button class="new">Neuen Bearbeitungsstatus hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="bearbeitungsstatus">
	<button class="close">Zurück zur Bearbeitungsstatusliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-12 columns">Status <textarea name="name" required></textarea></label>
		<input type="submit" value="Änderungen speichern">
	</form>
</section>
