<section id="bearbeitungsstatus">
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="input type='checkbox'" data-name="uuid" class="not-sortable"></th>
					<th data-input="textarea" data-name="status">Status</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<input type="submit" value="Änderungen speichern">
		<button class="new">Neuen Bearbeitungsstatus hinzufügen</button>
	</form>
</section>