<section id="bistum">
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="input type='checkbox'" data-name="uuid" class="not-sortable"></th>
					<th data-input="textarea" data-name="bistum">Bistum</th>
					<th data-input="textarea" data-name="bemerkung">Bemerkung</th>
					<th data-input="input type='checkbox'" data-name="ist_erzbistum">Erzbistum</th>
					<th data-input="textarea" data-name="kirchenprovinz">Kirchenprovinz</th>
					<th data-input="textarea" data-name="shapefile">Shapefile</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<input type="submit" value="Änderungen speichern">
		<button class="new">Neues Bistum hinzufügen</button>
	</form>
</section>