<section id="search">

	<h2>Klöster</h2>

	<form id="simple-search" class="togglable">
		<fieldset>
			<legend>Suche über alle Felder</legend>
			<label class="large-6 columns none"><input name="alle" type="text"></label>
			<div class="large-2 columns"><button type="submit" class="left"><i class="icon-search"></i> Suchen</button></div>
			<div class="large-2 columns"><button class="reset"><i class="icon-arrow"></i> Zurücksetzen</button></div>
			<div class="large-2 columns text-right"><button class="toggle">Erweiterte Suche</button></div>
		</fieldset>
	</form>

	<form id="advanced-search" class="togglable">
		<fieldset>
			<legend>Erweiterte Suche</legend>
			<div class="multiple">
				<label class="large-3 column none">
					<select name="filter[]">
						<option value="band.nummer">band.nummer</option>
						<option value="bearbeitungsstatus.name">bearbeitungsstatus.name</option>
						<option value="bistum.bistum">bistum.bistum</option>
						<option value="bundesland.bundesland">bundesland.bundesland</option>
						<option value="kloster.kloster_id">kloster.kloster_id</option>
						<option value="kloster.kloster">kloster.kloster</option>
						<option value="kloster.patrozinium">kloster.patrozinium</option>
						<option value="klosterstatus.status">klosterstatus.status</option>
						<option value="klosterstandort.breite">kloster.breite</option>
						<option value="klosterstandort.laenge">kloster.laenge</option>
						<option value="land.land">land.land</option>
						<option value="orden.orden">orden.orden</option>
						<option value="ort.ort">ort.ort</option>
						<option value="personallistenstatus.name">personallistenstatus.name</option>
						<option value="url.url">url.url</option>
						<option value="klosterstandort.von_von">zeitraum.von_von</option>
						<option value="klosterstandort.bis_bis">zeitraum.bis_bis</option>
					</select>
				</label>
				<label class="large-2 column none">
					<select name="operator[]">
						<option value="=">ist gleich</option>
						<option value="IS NOT">ist nicht</option>
						<option value="LIKE">enthält</option>
						<option value="NOT LIKE">enthält nicht</option>
						<option value="START">beginnt mit</option>
						<option value="END">endet mit</option>
						<option value="<">ist kleiner als</option>
						<option value=">">ist größer als</option>
					</select>
				</label>
				<label class="large-4 column none"><input name="text[]" type="text"></label>
				<label class="large-2 column none">
					<select name="concat[]">
						<option value="und">und</option>
						<option value="oder">oder</option>
					</select>
				</label>
			</div>
			<div class="large-2 columns"><button type="submit" class="left"><i class="icon-search"></i> Suchen</button></div>
			<div class="large-2 columns"><button class="reset"><i class="icon-arrow"></i> Zurücksetzen</button></div>
			<div class="large-8 columns"><button class="right toggle">Suche über alle Felder</button></div>
		</fieldset>
	</form>

</section>

<section id="list" data-type="kloster">
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th class="not-sortable" data-input="checkbox" data-name="uUID"></th>
					<th class="narrow" data-input="textarea disabled" data-name="kloster_id">Kloster-Nr.</th>
					<th data-input="select" data-name="bearbeitungsstatus">Status</th>
					<th data-input="textarea" data-name="kloster">Klostername</th>
					<th data-input="textarea disabled" data-name="ort">Ort</th>
					<th data-input="textarea" data-name="gnd">GND</th>
					<th data-input="textarea" data-name="bearbeitungsstand">Bearbeitungsstand</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<button class="new"><i class="icon-plus2"></i> Neues Kloster hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="kloster">
	<button class="close"><i class="icon-back"></i> Zurück zur Klosterliste</button>
	<form>
		<fieldset id="klosterdaten">
			<legend>Kloster</legend>
			<input type="hidden" name="uUID">
			<label class="large-9 columns bold">Name<textarea name="kloster_name" required></textarea></label>
			<label class="large-3 columns">Kloster-Nr.<input readonly name="kloster_id" type="text"></label>
			<div class="highlight">
				<label class="large-4 columns">Status<select name="bearbeitungsstatus" required></select></label>
				<label class="large-4 columns">Zuletzt bearbeitet von <textarea readonly name="bearbeiter"></textarea></label>
				<label class="large-2 columns">am <textarea name="changeddate" readonly></textarea></label>
				<label class="large-2 columns">Erzeugt am<textarea name="creationdate" readonly></textarea></label>
				<label class="large-12 columns">Bearbeitungsstand<textarea name="bearbeitungsstand"></textarea></label>
			</div>
			<label class="large-12 columns">Patrozinium<textarea name="patrozinium" required></textarea></label>
			<label class="large-12 columns">Kommentar online<textarea name="bemerkung"></textarea></label>
			<label class="large-9 columns">GS-Band<select name="band"></select></label>
			<label class="large-3 columns">Seitenangabe GS-Band<input name="band_seite" type="text"></label>
			<label class="large-12 columns">Inhalt GS-Band<textarea name="text_gs_band"></textarea></label>
			<label class="large-12 columns">Personallistenstatus<select name="personallistenstatus"></select></label>
		</fieldset>
		<fieldset id="klosterstandorte">
			<legend>Orte</legend>
			<div class="multiple separator">
				<label class="large-7 columns">Ort<select class="ajax" name="ort[]"></select></label>
				<label class="large-1 columns">Wüstung<input name="wuestung[]" type="checkbox" value="1"></label>
				<label class="large-4 columns">Bistum<select name="bistum[]"></select></label>
				<div class="coordinates">
					<label class="large-6 columns">Breite
						<input
							name="breite[]"
							type="text"
							pattern="(3[6-9]|[4-7][0-9]|80)(\.\d{1,12})?"
							title="Breitengrad muss zwischen 36.0 und 81.0 liegen."
						>
					</label>
					<label class="large-6 columns">Länge
						<input
							name="laenge[]"
							type="text"
							pattern="(-[1-9]|[0-9]|[1-5][0-9]|6[0-6])(\.\d{1,12})?"
							title="Längengrad muss zwischen -10.0 und 67.0 liegen."
						>
					</label>
				</div>
				<label class="large-3 columns">Standort von<input class="year" name="von_von[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-1 columns none"><input class="year" name="von_bis[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-2 columns none"><input name="von_verbal[]" type="text"></label>
				<label class="large-3 columns">Standort bis<input class="year" name="bis_von[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-1 columns none"><input class="year" name="bis_bis[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-2 columns none"><input name="bis_verbal[]" type="text"></label>
				<label class="large-12 columns">Gründer<textarea name="gruender[]"></textarea></label>
				<label class="large-12 columns">Bemerkung Standort<textarea name="bemerkung_standort[]"></textarea></label>
				<!-- TODO: Move to Kloster: -->
				<label class="large-11 columns">Bemerkung (Kloster)<textarea name="standort_interne_bemerkung[]"></textarea></label>
			</div>
		</fieldset>
		<fieldset id="klosterorden">
			<legend>Ordenszugehörigkeit</legend>
			<div class="multiple separator">
				<label class="large-6 columns">Orden<select name="orden[]"></select></label>
				<label class="large-6 columns">Klosterstatus<select name="klosterstatus[]"></select></label>
				<label class="large-3 columns">Ordenszugehörigkeit von<input class="year" name="orden_von_von[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-1 columns none"><input class="year" name="orden_von_bis[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-2 columns none"><input name="orden_von_verbal[]" type="text"></label>
				<label class="large-3 columns">Ordenszugehörigkeit bis<input class="year" name="orden_bis_von[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-1 columns none"><input class="year" name="orden_bis_bis[]" type="text" pattern="\d{2,4}"></label>
				<label class="large-2 columns none"><input name="orden_bis_verbal[]" type="text"></label>
				<label class="large-11 columns">Interne Anmerkungen<textarea name="bemerkung_orden[]"></textarea></label>
			</div>
		</fieldset>
		<fieldset id="links">
			<legend>Links</legend>
			<div class="clearfix">
				<label class="large-6 columns">Wikipedia<input name="wikipedia" type="url"></label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung<input name="wikipedia_label" type="text"></label>
			</div>
			<div class="clearfix">
				<label class="large-6 columns">GND<input name="gnd" type="url"></label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung<input name="gnd_label" type="text"></label>
			</div>
			<div class="multiple">
				<label class="large-2 columns none"><select name="url_typ[]"></select></label>
				<label class="large-4 columns none"><input name="url[]" type="url"></label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung<input name="links_label[]" type="text"></label>
			</div>
		</fieldset>
		<fieldset id="literatur">
			<legend>Literatur</legend>
			<div class="multiple">
				<label class="large-8 columns">Bezeichnung<select name="literatur[]"></select></label>
				<label class="large-3 columns">Fundstelle<textarea name="fundstelle[]"></textarea></label>
			</div>
		</fieldset>
	</form>
</section>
