<section id="list" data-type="land">
	<h2>Länder</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="input type='checkbox'" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="land">Land</th>
					<th data-input="input type='checkbox'" data-name="ist_in_deutschland">In Deutschland</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<input type="submit" value="Änderungen übernehmen">
		<button class="new">Neues Land hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="land">
	<button class="close">Zurück zur Landliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-8 columns">Land <textarea name="land"></textarea></label>
		<label class="large-4 columns">In Deutschland <input type="checkbox" name="ist_in_deutschland"></label>
		<input type="submit" value="Änderungen speichern">
	</form>
</section>
