<section id="list" data-type="orden">
	<h2>Orden</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="checkbox" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="orden">Orden</th>
					<th data-input="textarea" data-name="graphik">Grafikdatei</th>
					<th data-input="textarea" data-name="ordo" class="narrow">Abkürzung</th>
					<th data-input="textarea" data-name="symbol" class="narrow">Symbol</th>
					<th data-input="select" data-name="ordenstyp" class="narrow">Geschlecht</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<button class="new"><i class="icon-plus2"></i> Neuen Orden hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="orden">
	<button class="close"><i class="icon-back"></i> Zurück zur Ordenliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-6 columns">Orden <textarea name="orden" required></textarea></label>
		<label class="large-6 columns">Grafikdatei <textarea name="graphik"></textarea></label>
		<label class="large-4 columns">Abkürzung <textarea name="ordo"></textarea></label>
		<label class="large-4 columns">Symbol <textarea name="symbol"></textarea></label>
		<label class="large-4 columns">Geschlecht <select name="ordenstyp"></select></label>
		<fieldset id="links">
			<legend>Links</legend>
			<div class="clearfix">
				<label class="large-6 columns">Wikipedia
					<input name="wikipedia" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="wikipedia_label" type="text">
				</label>
			</div>
			<div class="clearfix">
				<label class="large-6 columns">GND
					<input name="gnd" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="gnd_label" type="text">
				</label>
			</div>
			<div class="multiple">
				<label class="large-2 columns none">
					<select name="url_typ[]"></select>
				</label>
				<label class="large-4 columns none">
					<input name="url[]" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="links_label[]" type="text">
				</label>
			</div>
		</fieldset>
	</form>
</section>