<section id="list" data-type="ordenstyp">
	<h2>Ordenstyp</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="checkbox" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="ordenstyp">Ordenstyp</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<button type="submit"><i class="icon-disk"></i> Änderungen speichern</button>
		<button class="new"><i class="icon-plus2"></i> Neuen Ordenstyp hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="ordenstyp">
	<button class="close"><i class="icon-back"></i> Zurück zur Ordenstypliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-12 columns">Ordenstyp <textarea name="ordenstyp" required></textarea></label>
		<button type="submit"><i class="icon-disk"></i> Änderungen speichern</button>
	</form>
</section>