<section id="list" data-type="ordenstyp">
	<h2>Ordenstyp</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="input type='checkbox'" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="ordenstyp">Ordenstyp</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<input type="submit" value="Änderungen speichern">
		<button class="new">Neuen Ordenstyp hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="ordenstyp">
	<button class="close">Zurück zur Ordenstypliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-12 columns">Ordenstyp <textarea name="ordenstyp" required></textarea></label>
		<input type="submit" value="Änderungen speichern">
	</form>
</section>