<section id="ort">

	<div id="list">
		<h2>Orte</h2>
		<form>
			<table class="large-12 columns display">
				<thead>
					<tr>
						<th data-input="input type='checkbox'" data-name="uuid" class="not-sortable"></th>
						<th data-input="textarea" data-name="ort">Ort</th>
						<th data-input="textarea" data-name="gemeinde">Gemeinde</th>
						<th data-input="textarea" data-name="kreis">Kreis</th>
						<th data-input="input type='checkbox'" data-name="wuestung">Wüstung</th>
						<th data-input="textarea" data-name="laenge">Längengrad</th>
						<th data-input="textarea" data-name="breite">Breitengrad</th>
						<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
					</tr>
				</thead>
			</table>
			<input type="submit" value="Änderungen speichern">
			<button class="new">Neuen Ort hinzufügen</button>
		</form>
	</div>

	<div id="edit">
		<h2>Ort beareiten</h2>
		<div class="text-right clear"><button class="close">Zurück zur Ortliste</button></div>
		<form>
			<label class="large-4 columns">Ort
				<textarea name="ort"></textarea>
			</label>
			<label class="large-4 columns">Gemeinde
				<textarea name="gemeinde"></textarea>
			</label>
			<label class="large-4 columns">Kreis
				<textarea name="kreis"></textarea>
			</label>
			<label class="large-4 columns">Wüstung
				<input type="checkbox" name="wuestung">
			</label>
			<label class="large-4 columns">Längengrad
				<textarea name="laenge"></textarea>
			</label>
			<label class="large-4 columns">Breitengrad
				<textarea name="breite"></textarea>
			</label>
			<label class="large-4 columns">URL
				<textarea name="url"></textarea>
			</label>
			<label class="large-4 columns">Darstellung
				<textarea name="link_label"></textarea>
			</label>
			<label class="large-4 columns">URL-Typ
				<select name="url_typ"></select>
			</label>
			<input class="button" type="submit" value="Änderungen speichern">
		</form>
	</div>

</section>