<section id="list" data-type="ort">
	<h2>Orte</h2>
	<form>
		<table class="large-12 columns display">
			<thead>
				<tr>
					<th data-input="checkbox" data-name="uUID" class="not-sortable"></th>
					<th data-input="textarea" data-name="ort">Ort</th>
					<th data-input="textarea" data-name="gemeinde">Gemeinde</th>
					<th data-input="textarea" data-name="kreis">Kreis</th>
					<th data-input="checkbox" data-name="wuestung">Wüstung</th>
					<th data-input="textarea" data-name="laenge">Längengrad</th>
					<th data-input="textarea" data-name="breite">Breitengrad</th>
					<th class="not-sortable" data-html='<button class="edit icon-pencil" title="Bearbeiten"></button>	<button class="delete icon-trash" title="Löschen"></button>'></th>
				</tr>
			</thead>
		</table>
		<button class="new"><i class="icon-plus2"></i> Neuen Ort hinzufügen</button>
	</form>
</section>

<section id="edit" data-type="ort">
	<button class="close"><i class="icon-back"></i> Zurück zur Ortliste</button>
	<form>
		<input type="hidden" name="uUID">
		<label class="large-4 columns">Ort <textarea name="ort"></textarea></label>
		<label class="large-4 columns">Gemeinde <textarea name="gemeinde"></textarea></label>
		<label class="large-4 columns">Kreis <textarea name="kreis"></textarea></label>
		<label class="large-4 columns">Wüstung <input type="checkbox" name="wuestung"></label>
		<label class="large-4 columns">Breitengrad <input type="text" name="breite" pattern="-?([1-8]?[0-9]|[0-9])(\.\d{1,12})?" title="Breitengrad muss zwischen -90.0 und 90.0 liegen."></label>
		<label class="large-4 columns">Längengrad <input type="text" name="laenge" pattern="-?([1]?[1-7][0-9]|[1-9]?[0-9])(\.\d{1,12})?" title="Längengrad muss zwischen -180.0 und 180.0 liegen."></label>
		<label class="large-6 columns">Land <select name="land"></select></label>
		<label class="large-6 columns">Bistum <select name="bistum"></select></label>
		<fieldset id="links">
			<legend>Links</legend>
			<div class="clearfix">
				<label class="large-6 columns">Wikipedia
					<input name="wikipedia" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="wikipedia_label" type="text">
				</label>
			</div>
			<div class="clearfix">
				<label class="large-6 columns">GND
					<input name="gnd" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="gnd_label" type="text">
				</label>
			</div>
			<div class="multiple">
				<label class="large-2 columns none">
					<select name="url_typ[]"></select>
				</label>
				<label class="large-4 columns none">
					<input name="url[]" type="url">
				</label>
				<span class="link"></span>
				<label class="large-5 columns">Darstellung
					<input name="links_label[]" type="text">
				</label>
			</div>
		</fieldset>
	</form>
</section>
