<f:layout name="Default" />

<f:section name="Title"><f:translate id="ordentype" /></f:section>

<f:section name="Content">
	<section ng-controller="listController" id="ordenstyp">
		<form ng-submit="update()">
			<table class="large-12 columns display" datatable="ng" dt-options="dtOptions">
				<thead>
					<tr>
						<th></th>
						<th>Ordenstyp</th>
					</tr>
				</thead>
				<tbody>
					<tr class="data" dt-rows="" ng-repeat="typ in entities">
						<td><input type="checkbox" /></td>
						<td><input type="text" ng-model="typ.ordenstyp" /></td>
					</tr>
				</tbody>
			</table>
			<div id="message" ng-show="message" ng-bind="message"></div>
			<input type="submit" value="Änderungen speichern">
		</form>
	</section>
</f:section>
