<f:layout name="Default"/>

<f:section name="Title">Klosterliste</f:section>

<f:section name="Content">

<div id="browse" ng-controller="monasteryController">
	<form id="advancedSearch">
		<fieldset class="togglable">
			<legend>Suche über alle Felder</legend>
			<label class="large-9 columns none"><input name="alle" type="text"></label>
			<div class="large-1 columns"><input type="submit" value="Suchen"></div>
			<div class="large-2 columns text-right"><button class="toggle">Erweiterte Suche</button></div>
		</fieldset>
		<fieldset class="togglable">
			<legend>Erweiterte Suche</legend>
			<div class="text-right"><button class="toggle">Suche über alle Felder</button></div>
			<div class="multiple">
				<label class="large-3 column none">
					<select name="filter">
						<option value="band.nummer">band.nummer</option>
						<option value="bearbeitungsstatus.name">bearbeitungsstatus.name</option>
						<option value="bistum.bistum">bistum.bistum</option>
						<option value="bundesland.bundesland">bundesland.bundesland</option>
						<option value="kloster.kloster_id">kloster.kloster_id</option>
						<option value="kloster.kloster">kloster.kloster</option>
						<option value="kloster.patrozinium">kloster.patrozinium</option>
						<option value="klosterstatus.status">klosterstatus.status</option>
						<option value="kloster.breite">kloster.breite</option>
						<option value="kloster.laenge">kloster.laenge</option>
						<option value="land.land">land.land</option>
						<option value="orden.orden">orden.orden</option>
						<option value="ort.ort">ort.ort</option>
						<option value="personallistenstatus.name">personallistenstatus.name</option>
						<option value="url.url">url.url</option>
						<option value="zeitraum.von_von">zeitraum.von_von</option>
						<option value="zeitraum.bis_bis">zeitraum.bis_bis</option>
					</select>
				</label>
				<label class="large-2 column none">
					<select name="operator">
						<option value="ist gleich">ist gleich</option>
						<option value="ist gleich (inkl. Schreibweise)">ist gleich (inkl. Schreibweise)</option>
						<option value="ist nicht">ist nicht</option>
						<option value="enthält">enthält</option>
						<option value="enthält nicht">enthält nicht</option>
						<option value="beginnt mit">beginnt mit</option>
						<option value="endet mit">endet mit</option>
						<option value="ist kleiner als">ist kleiner als</option>
						<option value="ist größer als">ist größer als</option>
						<option value="entspricht regex">entspricht regex</option>
						<option value="entspricht nicht regex">entspricht nicht regex</option>
						<option value="fehlt">fehlt</option>
					</select>
				</label>
				<label class="large-4 column none"><input name="value" type="text"></label>
				<label class="large-2 column none">
					<select name="concat">
						<option value="und">und</option>
						<option value="oder">oder</option>
						<option value="und nicht">und nicht</option>
					</select>
				</label>
			</div>
			<div class="text-right"><input type="submit" value="Suchen"></div>
		</fieldset>
	</form>
	<form id="UpdateList" name="UpdateList" action="updateList">
		<fieldset>
			<legend>Klosterliste</legend>
			<table class="large-12 columns display" id="list">
				<thead>
					<tr>
						<th class="no-sorting"></th>
						<th>
							Kloster-Nr.
						</th>
						<th>
							Status
						</th>
						<th>
							Klostername
						</th>
						<th>
							Ort
						</th>
						<th>
							GND
						</th>
						<th>
							Bearbeitungsstand
						</th>
						<th class="no-sorting"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input name="auswahl" type="checkbox">
						</td>
						<td>
							<textarea name="kloster_id" disabled></textarea>
						</td>
						<td>
							<select name="bearbeitungsstatus"></select>
						</td>
						<td><textarea name="kloster"></textarea></td>
						<td>
							<textarea name="ort"></textarea>
						</td>
						<td>
							<textarea name="gnd"></textarea>
						</td>
						<td>
							<textarea name="bearbeitungsstand"></textarea>
						</td>
						<td>
							<a href="" class="edit">Edit</a>
							<a href="" class="delete">Del</a>
							<input class="csrf" type="hidden" name="__csrfToken"	value="{f:security.csrfToken()}">
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<input class="button" type="submit" value="Änderungen übernehmen">
	</form>
</div>

<a href="" id="newLink"><button class="new">Neu</button></a>

<div id="edit">
	<button class="close">Schließen</button>
	<form id="EditKloster" action="">
		<fieldset id="kloster">
			<legend>Kloster</legend>
			<label class="large-9 columns bold">Name
				<textarea name="kloster_name" required="required"></textarea>
			</label>
			<label class="large-3 columns">Kloster-Nr.
				<input disabled="disabled" name="kloster_id" required="required" type="text">
			</label>
			<fieldset class="highlight">
				<label class="large-4 columns">Status
					<select name="bearbeitungsstatus" required="required"></select>
				</label>
				<span class="large-5 columns">
					Zuletzt bearbeitet von <i class="bearbeiter">?</i> am <i class="changeddate">?</i>
				</span>
				<label class="large-3 columns">Datensatz erzeugt am
					<input disabled="disabled" name="creationdate" required="required" type="text">
				</label>
				<label class="large-12 columns">Bearbeitungsstand
					<textarea name="bearbeitungsstand"></textarea>
				</label>
			</fieldset>
			<label class="large-12 columns">Patrozinium
				<textarea name="patrozinium" required="required"></textarea>
			</label>
			<label class="large-12 columns">Kommentar online
				<textarea name="bemerkung"></textarea>
			</label>
			<label class="large-9 columns">GS-Band
				<select name="band"></select>
			</label>
			<label class="large-3 columns">Seitenangabe GS-Band
				<input name="band_seite" type="text">
			</label>
			<label class="large-12 columns">Inhalt GS-Band
				<textarea name="text_gs_band"></textarea>
			</label>
		</fieldset>
		<fieldset id="klosterstandorte">
			<legend>Orte</legend>
			<div class="multiple separator">
				<label class="large-7 columns">Ort
					<select name="uuid[]"></select>
				</label>
				<label class="large-1 columns">Wüstung
					<input name="wuestung[]" type="checkbox">
				</label>
				<label class="large-4 columns">Bistum
					<select name="bistum[]"></select>
				</label>
				<div class="coordinates">
					<label class="large-6 columns">Breite
						<input name="breite[]" type="text">
					</label>
					<label class="large-6 columns">Länge
						<input name="laenge[]" type="text">
					</label>
				</div>
				<label class="large-3 columns">Standort von
					<input class="year" name="von_von[]" type="text">
				</label>
				<label class="large-1 columns none">
					<input class="year" name="von_bis[]" type="text">
				</label>
				<label class="large-2 columns none">
					<input name="von_verbal[]" type="text">
				</label>
				<label class="large-3 columns">Standort bis
					<input class="year" name="bis_von[]" type="text">
				</label>
				<label class="large-1 columns none">
					<input class="year" name="bis_bis[]" type="text">
				</label>
				<label class="large-2 columns none">
					<input name="bis_verbal[]" type="text">
				</label>
				<label class="large-12 columns">Gründer
					<textarea name="gruender[]"></textarea>
				</label>
				<label class="large-12 columns">Bemerkung Standort
					<textarea name="bemerkung_standort[]"></textarea>
				</label>
				<label class="large-11 columns">Bemerkung (Kloster)<!-- TODO: Move to Kloser -->
					<textarea name="standort_interne_bemerkung[]"></textarea>
				</label>
			</div>
		</fieldset>
		<fieldset id="klosterorden">
			<legend>Ordenszugehörigkeit</legend>
			<div class="multiple separator">
				<label class="large-6 columns">Orden
					<select name="orden[]"></select>
				</label>
				<label class="large-6 columns">Klosterstatus
					<select name="klosterstatus[]"></select>
				</label>
				<label class="large-3 columns">Ordenszugehörigkeit von
					<input class="year" name="orden_von_von[]" type="text">
				</label>
				<label class="large-1 columns none">
					<input class="year" name="orden_von_bis[]" type="text">
				</label>
				<label class="large-2 columns none">
					<input name="orden_von_verbal[]" type="text">
				</label>
				<label class="large-3 columns">Ordenszugehörigkeit bis
					<input class="year" name="orden_bis_von[]" type="text">
				</label>
				<label class="large-1 columns none">
					<input class="year" name="orden_bis_bis[]" type="text">
				</label>
				<label class="large-2 columns none">
					<input name="orden_bis_verbal[]" type="text">
				</label>
				<label class="large-11 columns">
					Interne Anmerkungen<textarea name="bemerkung_orden[]"></textarea>
				</label>
			</div>
		</fieldset>
		<fieldset id="links">
			<legend>Links</legend>
			<div class="clearfix">
				<input type="hidden" name="url_typ[]" value="Wikipedia">
				<label class="large-6 columns">Wikipedia
					<input id="wikipedia" name="url[]" type="url">
				</label>
				<label class="large-5 columns">Darstellung
					<input name="links_label[]" type="text">
				</label>
				<span class="link large-1 columns">{{link}}</span>
			</div>
			<div class="clearfix">
				<input type="hidden" name="url_typ[]" value="GND">
				<label class="large-6 columns">GND
					<input id="gnd" name="url[]" type="url">
				</label>
				<label class="large-5 columns">Darstellung
					<input name="links_label[]" type="text">
				</label>
				<span class="link large-1 columns">{{link}}</span>
			</div>
			<div class="multiple">
				<label class="large-2 columns none">
					<select name="url_typ[]"></select>
				</label>
				<label class="large-4 columns none">
					<input name="url[]" type="url">
					<i class="link large-1 columns">{{link}}</i>
				</label>
				<label class="large-5 columns">Darstellung
					<input name="links_label[]" type="url">
				</label>
			</div>
		</fieldset>
		<fieldset id="literatur">
			<legend>Literatur</legend>
			<div class="multiple">
				<label class="large-11 columns">Bezeichnung<select name="literatur[]"></select></label>
			</div>
		</fieldset>
		<input type="hidden" name="__csrfToken" value="{f:security.csrfToken()}">
		<input class="button" type="submit" value="Speichern">
	</form>
</div>


<div id="new">
	<h1>
		Kloster anlegen
	</h1>
	<button class="close">Schließen</button>
	<form id="NewKloster" action="">
		<!-- TODO -->
	</form>
</div>

</f:section>
