<f:layout name="Default" />

<f:section name="Title"><f:translate id="literature" /></f:section>

<!-- BUG: Freezes Chrome. Why? -->
<f:section name="Content">
	<section ng-controller="listController" id="literatur">
		<form ng-submit="update()">
			<table class="large-12 columns display" dt-options="dtOptions" datatable="ng">
				<thead>
					<tr>
						<th></th>
						<th>Cite ID</th>
						<th>Beschreibung</th>
					</tr>
				</thead>
				<tbody>
					<tr class="data" dt-rows="" ng-repeat="literatur in entities">
						<td><input type="checkbox"></td>
						<td><input type="text" ng-model="literatur.citekey"></td>
						<td><input type="text" ng-model="literatur.beschreibung"></td>
					</tr>
				</tbody>
			</table>
			<div id="message" ng-show="message" ng-bind="message"></div>
			<input type="submit" value="Änderungen speichern">
		</form>
	</section>
</f:section>
