<f:layout name="Default" />

<f:section name="Title"><f:translate id="countries" /></f:section>

<f:section name="Content">
	<section ng-controller="listController" id="land">
		<form ng-submit="update()">
			<table class="large-12 columns display" datatable="ng" dt-options="dtOptions">
				<thead>
					<tr>
						<th></th>
						<th>Land</th>
						<th>In Deutschland</th>
					</tr>
				</thead>
				<tbody>
				<tr class="data" dt-rows="" ng-repeat="land in entities">
					<td><input type="checkbox" ng-model="land.selected"></td>
						<td><input type="text" name="land" ng-model="land.land"></td>
						<td><input ng-model="entity.ist_in_deutschland" type="checkbox" ng-checked="land.ist_in_deutschland"></td>
					</tr>
				</tbody>
			</table>
			<input type="submit" value="Änderungen übernehmen">
		</form>
	</section>
</f:section>