<f:layout name="Default" />

<f:section name="Title"><f:translate id="countries" /></f:section>

<f:section name="Content">
	<section ng-controller="landController">
		<form novalidate id="updateEntity" name="updateEntity">
			<table class="large-12 columns display" datatable="ng" id="entityList" dt-options="dtOptions">
				<thead>
					<tr>
						<th></th>
						<th>Land</th>
						<th>In Deutschland</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="data" dt-rows="" ng-repeat="land in laender">
						<td><input type="checkbox" /></td>
						<td><input type="text" name="land" ng-model="land.land" /></td>
						<td><input ng-model="land.ist_in_deutschland" type="checkbox" ng-checked="land.ist_in_deutschland" /></td>
						<td><input type="button" class="button" ng-click="update(land)" value="Änderungen übernehmen" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</section>
</f:section>